.color{
    text-align: center;
}

.colorHome{
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: black;
}

.pulsanti{
    display: flex;
    margin-top: 100px;
}

.pulsanti input{
    display: block;
    margin: auto;
    padding: 20px;
    background: red;
}

.pulsanti input.blue{
    background:blue;
}

.pulsanti input.yellow{
    background:yellow;
}
